<label class="flex items-center gap-3 cursor-pointer select-none">

  <!-- SWITCH -->
  <div class="relative">

    <input type="checkbox" class="sr-only" [checked]="value" [disabled]="disabled"
      (change)="toggle($any($event.target).checked)" />

    <div class="w-11 h-6 rounded-full transition" [class.bg-green-500]="value" [class.bg-gray-300]="!value">
    </div>

    <div class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full transition-transform"
      [class.translate-x-5]="value">
    </div>

  </div>

  <span class="text-sm font-medium text-gray-700 dark:text-gray-200">
    {{ label }}
  </span>

</label>