<app-crud-table [columns]="tableColumns" [title]="'Empresa de Transporte'" [data]="filteredItems()" (search)="setSearch($event)" (create)="openCreate()"
  (edit)="openEdit($event)">
</app-crud-table>

@if (state().isOpen) {
<!-- Modal -->
<app-modal [isOpen]="state().isOpen" (close)="closeModal()" className="w-full max-w-4xl p-4">
  <div appAutoFocusFirst
    class="no-scrollbar relative w-full max-w-4xl max-h-[90vh] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        Empresa de transporte
      </h4>
      <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
        Ingresa o cambia los datos para tener la informacion actualizada.
      </p>
      <form class="flex flex-col flex-1 overflow-hidden" #form="ngForm" (ngSubmit)="save(form)">
        <div class="space-y-5">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-5">            

            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                RUC
              </label>
              <app-input-field [ngModel]="state().selected.ruc ?? ''" (ngModelChange)="updateField('ruc', $event)"
                name="ruc" [submitted]="submitted()" [required]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Razon social    
              </label>
              <app-input-field [ngModel]="state().selected.razon_social ?? ''" (ngModelChange)="updateField('razon_social', $event)"
                name="razon_social" [submitted]="submitted()" [required]="true">
              </app-input-field>
            </div>
          </div>
        </div>

        <!-- FOOTER -->
        <app-modal-footer [showNewButton]="true" closeText="Cerrar" saveText="Guardar" (close)="closeModal()"
          (create)="openCreate()">
        </app-modal-footer>
      </form>
    </div>
  </div>
</app-modal>
}