<div class="rounded-2xl border border-gray-200 bg-white dark:border-white/[0.05] dark:bg-white/[0.03]">
  <!-- Toolbar -->
  <div class="p-5 border-b border-gray-200">
    <ng-content select="[toolbar]"></ng-content>
  </div>
  <form class="flex flex-col" #form="ngForm" (ngSubmit)="save.emit(form)">
    <!-- BODY -->
    <div class="p-5 lg:p-8 space-y-6">

      <!-- FORMULARIO -->
      <div appAutoFocusFirst class="no-scrollbar relative w-full max-w-6xl  grid grid-cols-1 md:grid-cols-14 gap-5">
        <div class="md:col-span-2">
          <label appLabel> Serie </label>
          <app-select-field [options]="serieOptions" [ngModel]="selectedSafe.serie" [disabled]="state.modo === 'editar'"
            (ngModelChange)="onSerieChange($event)" name="serie" [required]="true" #serie="ngModel" [control]="serie">
          </app-select-field>
        </div>
        <div class="md:col-span-2">
          <label appLabel> Numero</label>
          <app-input-field [ngModel]="selectedSafe.numero" (ngModelChange)="update('numero', $event)" name="numero"
            [disabled]="state.modo === 'editar'" [submitted]="submitted" [required]="true" pattern="^[0-9]*$"
            [onlyNumbers]="true">
          </app-input-field>
        </div>
        <div class="md:col-span-2">
          <label appLabel> Fecha</label>
          <app-input-field type="date" [(ngModel)]="selected.fecha" name="fecha"
            (ngModelChange)="update('fecha', ($event))">
          </app-input-field>
        </div>
        <div class="md:col-span-2">
          <label appLabel> Tipo receta </label>
          <app-select-field [options]="monedaOptions" [ngModel]="selectedSafe.tipoReceta"
            (ngModelChange)="update('tipoReceta', $event)" name="tipoReceta" [required]="true" #tipoReceta="ngModel"
            [control]="tipoReceta">
          </app-select-field>
        </div>
        <div class="md:col-span-4">
          <label appLabel> Especialista </label>
          <app-select-field [options]="monedaOptions" [ngModel]="selectedSafe.especialista"
            (ngModelChange)="update('especialista', $event)" name="especialista" [required]="true"
            #especialista="ngModel" [control]="especialista">
          </app-select-field>
        </div>
        <div class="md:col-span-3">
          <label appLabel> RUC </label>
          <div class="flex w-full overflow-hidden rounded-lg border shadow-theme-xs
         focus-within:ring-3" [class.border-red-500]="proveedorInput.shouldShowError"
            [class.border-gray-300]="!proveedorInput.shouldShowError"
            [class.focus-within:border-red-500]="proveedorInput.shouldShowError"
            [class.focus-within:ring-red-500/20]="proveedorInput.shouldShowError"
            [class.focus-within:border-brand-300]="!proveedorInput.shouldShowError"
            [class.focus-within:ring-brand-500/20]="!proveedorInput.shouldShowError">

            <div class="flex-3">
              <app-input-field #proveedorInput [grouped]="true" [ngModel]="selectedSafe.ruc" name="ruc"
                (ngModelChange)="update('ruc', $event)" [required]="true" [submitted]="submitted" [onlyNumbers]="true"
                [maxLength]="11" [readonly]="true">
              </app-input-field>
            </div>

            <button type="button" class="h-11 px-4 bg-gray-50 hover:bg-gray-100
           border-l border-gray-300
           flex items-center justify-center" (click)="openClienteModal()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>
            </button>
          </div>

          @if (proveedorInput.shouldShowError) {
          <p class="text-xs text-red-500 mt-1">
            {{ proveedorInput.errorMessage }}
          </p>
          }
        </div>
        <div class="md:col-span-6 relative">
          <label appLabel> Razón Social</label>
          <app-input-field [ngModel]="selectedSafe.razon_social" (ngModelChange)="update('razon_social', $event)"
            name="razon_social" [submitted]="submitted" [required]="true" [readonly]="true">
          </app-input-field>
        </div>
        <div class="md:col-span-5">
          <label appLabel> Referencia </label>
          <app-input-field [ngModel]="selectedSafe.referencia" (ngModelChange)="update('referencia', $event)"
            name="referencia" [submitted]="submitted"></app-input-field>
        </div>
      </div>

      <!-- TABLA -->
      <div class="mt-6 overflow-x-auto rounded-lg border border-gray-200">
        <table class="w-full min-w-[1100px] border-collapse text-sm">
          <!-- ===================================================== -->
          <!-- HEADER -->
          <!-- ===================================================== -->
          <thead>
            <!-- OD / OI -->
            <tr class="bg-gray-100">
              <th rowspan="2" class="border border-gray-300 px-3 py-2 text-left font-semibold text-gray-700">
                Graduación
              </th>
              <th colspan="6"
                class="border border-gray-300 bg-blue-50 px-3 py-2 text-center font-semibold text-blue-700">
                OD - Ojo Derecho
              </th>
              <th colspan="6"
                class="border border-gray-300 bg-pink-50 px-3 py-2 text-center font-semibold text-pink-700">
                OI - Ojo Izquierdo
              </th>
            </tr>

            <!-- Columnas -->
            <tr class="bg-gray-50">
              <!-- OD -->
              <th class="border border-gray-300 px-2 py-2 text-center">
                Esfera
              </th>
              <th class="border border-gray-300 px-2 py-2 text-center">
                Cilindro
              </th>
              <th class="border border-gray-300 px-2 py-2 text-center">
                Eje
              </th>
              <th class="border border-gray-300 px-2 py-2 text-center">
                ADD
              </th>
              <th class="border border-gray-300 px-2 py-2 text-center">
                Prisma
              </th>
              <th class="border border-gray-300 px-2 py-2 text-center">
                Base
              </th>

              <!-- OI -->
              <th class="border border-gray-300 px-2 py-2 text-center">
                Esfera
              </th>
              <th class="border border-gray-300 px-2 py-2 text-center">
                Cilindro
              </th>
              <th class="border border-gray-300 px-2 py-2 text-center">
                Eje
              </th>
              <th class="border border-gray-300 px-2 py-2 text-center">
                ADD
              </th>
              <th class="border border-gray-300 px-2 py-2 text-center">
                Prisma
              </th>
              <th class="border border-gray-300 px-2 py-2 text-center">
                Base
              </th>
            </tr>
          </thead>

          <!-- ===================================================== -->
          <!-- CUERPO -->
          <!-- ===================================================== -->

          <tbody>
            <tr>
              <td class="border border-gray-300 bg-gray-50 px-3 py-2 font-medium text-gray-700">
                Valores
              </td>

              <!-- ================================================= -->
              <!-- OD -->
              <!-- ================================================= -->

              @let od = medidas[0];
              <td class="border border-gray-300 p-1">
                <app-input-field type="text" [decimalOnly]="true" [ngModel]="od?.esfera" name="od_esfera"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="updateDetalle(od, 'esfera', $event)"
                  widthClass="w-full">
                </app-input-field>
              </td>

              <td class="border border-gray-300 p-1">
                <app-input-field type="text" [decimalOnly]="true" [ngModel]="od?.cilindro" name="od_cilindro"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="updateDetalle(od, 'cilindro', $event)"
                  widthClass="w-full">
                </app-input-field>
              </td>

              <td class="border border-gray-300 p-1">
                <app-input-field type="number" [ngModel]="od?.eje" name="od_eje" [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="updateDetalle(od, 'eje', $event)" widthClass="w-full">
                </app-input-field>
              </td>

              <td class="border border-gray-300 p-1">
                <app-input-field type="text" [decimalOnly]="true" [ngModel]="od?.adicion" name="od_adicion"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="updateDetalle(od, 'adicion', $event)"
                  widthClass="w-full">
                </app-input-field>
              </td>

              <td class="border border-gray-300 p-1">
                <app-input-field type="text" [decimalOnly]="true" [ngModel]="od?.prisma" name="od_prisma"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="updateDetalle(od, 'prisma', $event)"
                  widthClass="w-full">
                </app-input-field>
              </td>

              <td class="border border-gray-300 p-1">
                <app-select-field [options]="basePrismaOptions" [ngModel]="od?.base_prisma"
                  (ngModelChange)="updateDetalle(od, 'base_prisma', $event)" name="od_base_prisma">
                </app-select-field>
              </td>

              <!-- ================================================= -->
              <!-- OI -->
              <!-- ================================================= -->

              @let oi = medidas[1];
              <td class="border border-gray-300 p-1">
                <app-input-field type="text" [decimalOnly]="true" [ngModel]="oi?.esfera" name="oi_esfera"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="updateDetalle(oi, 'esfera', $event)"
                  widthClass="w-full">
                </app-input-field>
              </td>

              <td class="border border-gray-300 p-1">
                <app-input-field type="text" [decimalOnly]="true" [ngModel]="oi?.cilindro" name="oi_cilindro"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="updateDetalle(oi, 'cilindro', $event)"
                  widthClass="w-full">
                </app-input-field>
              </td>

              <td class="border border-gray-300 p-1">
                <app-input-field type="number" [ngModel]="oi?.eje" name="oi_eje" [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="updateDetalle(oi, 'eje', $event)" widthClass="w-full">
                </app-input-field>
              </td>

              <td class="border border-gray-300 p-1">
                <app-input-field type="text" [decimalOnly]="true" [ngModel]="oi?.adicion" name="oi_adicion"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="updateDetalle(oi, 'adicion', $event)"
                  widthClass="w-full">
                </app-input-field>
              </td>

              <td class="border border-gray-300 p-1">
                <app-input-field type="text" [decimalOnly]="true" [ngModel]="oi?.prisma" name="oi_prisma"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="updateDetalle(oi, 'prisma', $event)"
                  widthClass="w-full">
                </app-input-field>
              </td>

              <td class="border border-gray-300 p-1">

                <app-select-field [options]="basePrismaOptions" [ngModel]="oi?.base_prisma"
                  (ngModelChange)="updateDetalle(oi, 'base_prisma', $event)" name="oi_base_prisma">
                </app-select-field>

              </td>
            </tr>

            <!-- ===================================================== -->
            <!-- MEDIDAS PARA LENTES -->
            <!-- ===================================================== -->

            <tr>
              <td colspan="13" class="border border-gray-300 bg-gray-100 px-3 py-2 font-semibold text-gray-700">
                Medidas para lentes
              </td>
            </tr>

            <!-- ALTURA -->
            <tr>
              <td class="border border-gray-300 bg-gray-50 px-3 py-2 font-medium">
                Altura
              </td>
              <td colspan="6" class="border border-gray-300 p-1">
                <app-input-field type="number" [ngModel]="od?.altura" name="od_altura"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="updateDetalle(od, 'altura', $event)"
                  widthClass="w-full">
                </app-input-field>
              </td>

              <td colspan="6" class="border border-gray-300 p-1">
                <app-input-field type="number" [ngModel]="oi?.altura" name="oi_altura"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="updateDetalle(oi, 'altura', $event)"
                  widthClass="w-full">
                </app-input-field>
              </td>
            </tr>
            <!-- ===================================================== -->
            <!-- AGUDEZA VISUAL -->
            <!-- ===================================================== -->

            <tr>
              <td colspan="13" class="border border-gray-300 bg-gray-100 px-3 py-2 font-semibold text-gray-700">
                Agudeza visual
              </td>
            </tr>

            <!-- LEJOS -->
            <tr>
              <td class="border border-gray-300 bg-gray-50 px-3 py-2 font-medium">
                Lejos
              </td>

              <td colspan="6" class="border border-gray-300 p-1">
                <app-input-field type="text" [ngModel]="od?.agudeza_visual_lejos" name="od_av_lejos"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="updateDetalle(od, 'agudeza_visual_lejos', $event)" widthClass="w-full">
                </app-input-field>
              </td>

              <td colspan="6" class="border border-gray-300 p-1">
                <app-input-field type="text" [ngModel]="oi?.agudeza_visual_lejos" name="oi_av_lejos"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="updateDetalle(oi, 'agudeza_visual_lejos', $event)" widthClass="w-full">
                </app-input-field>
              </td>

            </tr>

            <!-- CERCA -->
            <tr>
              <td class="border border-gray-300 bg-gray-50 px-3 py-2 font-medium">
                Cerca
              </td>

              <td colspan="6" class="border border-gray-300 p-1">
                <app-input-field type="text" [ngModel]="od?.agudeza_visual_cerca" name="od_av_cerca"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="updateDetalle(od, 'agudeza_visual_cerca', $event)" widthClass="w-full">
                </app-input-field>
              </td>

              <td colspan="6" class="border border-gray-300 p-1">
                <app-input-field type="text" [ngModel]="oi?.agudeza_visual_cerca" name="oi_av_cerca"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="updateDetalle(oi, 'agudeza_visual_cerca', $event)" widthClass="w-full">
                </app-input-field>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>

@if(showClienteModal){
<app-modal [isOpen]="showClienteModal" (close)="showClienteModal = false" className="max-w-4xl mx-4">
  <div class="max-h-[75vh] overflow-y-auto p-6">
    <app-proveedor-selector [isOpen]="showClienteModal" (close)="showClienteModal = false"
      (select)="selectProveedor($event)">
    </app-proveedor-selector>
  </div>
</app-modal>
}