<app-crud-table [columns]="tableColumns" [title]="'Vendedor'" [data]="filteredItems()" (search)="setSearch($event)"
  (create)="openCreate()" (edit)="openEdit($event)">
</app-crud-table>

<!-- Modal -->
<app-modal [isOpen]="state().isOpen" (close)="closeModal()" className="w-full max-w-4xl p-4">
  <div appAutoFocusFirst
    class="no-scrollbar relative w-full max-w-4xl max-h-[90vh] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        Vendedor
      </h4>
      <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
        Ingresa o cambia los datos para tener la información actualizada.
      </p>
      <form class="flex flex-col flex-1 overflow-hidden" #form="ngForm" (ngSubmit)="save(form)">
        <div class="space-y-5">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Código
              </label>
              <app-input-field [ngModel]="state().selected.codigo ?? ''" (ngModelChange)="updateField('codigo', $event)"
                name="codigo" [disabled]="state().modo === 'editar'" [submitted]="submitted()" [required]="true"
                pattern="^[0-9]*$" [minLength]="2" [maxLength]="4" [onlyNumbers]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-2">
              <label class="mb-2 block text-sm font-medium">
                Nombres
              </label>
              <app-input-field [ngModel]="state().selected.nombres ?? ''"
                (ngModelChange)="updateField('nombres', $event)" name="nombres" [submitted]="submitted()"
                [required]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-2">
              <label class="mb-2 block text-sm font-medium">
                Dirección
              </label>
              <app-input-field [ngModel]="state().selected.direccion ?? ''"
                (ngModelChange)="updateField('direccion', $event)" name="direccion" [submitted]="submitted()">
              </app-input-field>
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                DNI
              </label>
              <app-input-field [ngModel]="state().selected.dni ?? ''"
                (ngModelChange)="updateField('dni', $event)" name="dni" [submitted]="submitted()">
              </app-input-field>
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Telefono
              </label>
              <app-input-field [ngModel]="state().selected.telefono ?? ''"
                (ngModelChange)="updateField('telefono', $event)" name="telefono" [submitted]="submitted()">
              </app-input-field>
            </div>
            <div class="md:col-span-2">
              <label class="mb-2 block text-sm font-medium">
                Correo
              </label>
              <app-input-field [ngModel]="state().selected.correo ?? ''" (ngModelChange)="updateField('correo', $event)"
                name="correo" [submitted]="submitted()">
              </app-input-field>
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Estado
              </label>
              <app-switch-toggle [ngModel]="state().selected.estado ?? true"
                (ngModelChange)="updateField('estado', $event)" name="estado">
              </app-switch-toggle>
            </div>
          </div>
        </div>

        <!-- FOOTER -->
        <app-modal-footer [showNewButton]="true" closeText="Cerrar" saveText="Guardar" (close)="closeModal()"
          (create)="openCreate()">
        </app-modal-footer>
      </form>
    </div>
  </div>
</app-modal>