<app-page-breadcrumb pageTitle="Alerts" />
<div class="space-y-5 sm:space-y-6">
  <div>
    <app-component-card title="Success Alert">
      <div>
        @if (variant === 'success') {
    <lucide-icon
      [img]="CheckCircle"
      class="text-green-500">
    </lucide-icon>
  }

  @if (variant === 'error') {
    <lucide-icon
      [img]="XCircle"
      class="text-red-500">
    </lucide-icon>
  }

  @if (variant === 'warning') {
    <lucide-icon
      [img]="AlertTriangle"
      class="text-yellow-500">
    </lucide-icon>
  }

  @if (variant === 'info') {
    <lucide-icon
      [img]="Info"
      class="text-blue-500">
    </lucide-icon>
  }

  <div>
    <h4>{{ title }}</h4>
    <p>{{ message }}</p>
  </div>
      </div>
    </app-component-card>
  </div>
</div>
