<app-crud-table  [columns]="tableColumns" [title]="'Transportistas'" [data]="filteredItems()" (search)="setSearch($event)" (create)="openCreate()"
  (edit)="openEdit($event)">
</app-crud-table>

<!-- Modal -->
<app-modal [isOpen]="state().isOpen" (close)="closeModal()" className="w-full max-w-4xl p-4">
  <div appAutoFocusFirst
    class="no-scrollbar relative w-full max-w-4xl max-h-[90vh] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        Transportistas
      </h4>
      <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
        Ingresa o cambia los datos para tener la información actualizada.
      </p>
      <form class="flex flex-col flex-1 overflow-hidden" #form="ngForm" (ngSubmit)="save(form)">
        <div class="space-y-5">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Empresa de Transporte
              </label>
              <app-select-field [options]="empresa_transporteOptions" [ngModel]="state().selected.ruc ?? ''"
                (ngModelChange)="updateField('ruc', $event)" name="ruc" [required]="true"
                #ruc="ngModel" [customClass]="ruc.invalid && (ruc.touched || submitted())
                 ? 'border-red-500' : 'border-gray-300 dark:border-gray-700'">
              </app-select-field>
              @if (showError(ruc)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Tipo de documento
              </label>
              <app-select-field [options]="tipo_documentoOptions" [ngModel]="state().selected.tipo_documento ?? ''"
                (ngModelChange)="updateField('tipo_documento', $event)" name="tipo_documento" [required]="true"
                #tipo_documento="ngModel" [customClass]="tipo_documento.invalid && (tipo_documento.touched || submitted())
                 ? 'border-red-500' : 'border-gray-300 dark:border-gray-700'">
              </app-select-field>
              @if (showError(tipo_documento)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                DNI
              </label>
              <app-input-field [ngModel]="state().selected.dni ?? ''"
                (ngModelChange)="updateField('dni', $event)" name="dni" [submitted]="submitted()"
                [required]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Licencia
              </label>
              <app-input-field [ngModel]="state().selected.licencia ?? ''"
                (ngModelChange)="updateField('licencia', $event)" name="licencia" [submitted]="submitted()"
                [required]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Nombres
              </label>
              <app-input-field [ngModel]="state().selected.nombres ?? ''" (ngModelChange)="updateField('nombres', $event)"
                name="nombres" [submitted]="submitted()" [required]="true" >
              </app-input-field>
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Apellido Paterno
              </label>
              <app-input-field [ngModel]="state().selected.apellido_paterno ?? ''"
                (ngModelChange)="updateField('apellido_paterno', $event)" name="apellido_paterno" [submitted]="submitted()"
                [required]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Apellido Materno
              </label>
              <app-input-field [ngModel]="state().selected.apellido_materno ?? ''"
                (ngModelChange)="updateField('apellido_materno', $event)" name="apellido_materno" [submitted]="submitted()"
                [required]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Unidad
              </label>
              <app-input-field [ngModel]="state().selected.unidad ?? ''" (ngModelChange)="updateField('unidad', $event)"
                name="unidad" [submitted]="submitted()">
              </app-input-field>
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Placa
              </label>
              <app-input-field [ngModel]="state().selected.placa ?? ''"
                (ngModelChange)="updateField('placa', $event)" name="placa" [submitted]="submitted()"
                [required]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Unidad
              </label>
              <app-input-field [ngModel]="state().selected.descripcion ?? ''"
                (ngModelChange)="updateField('descripcion', $event)" name="descripcion" [submitted]="submitted()" >
              </app-input-field>
            </div>
          </div>
        </div>

        <!-- FOOTER -->
        <app-modal-footer [showNewButton]="true" closeText="Cerrar" saveText="Guardar" (close)="closeModal()"
          (create)="openCreate()">
        </app-modal-footer>
      </form>
    </div>
  </div>
</app-modal>