<!-- Only render if open -->
@if (isOpen) {
<div class="fixed inset-0 flex items-center justify-center overflow-y-auto modal z-99999">
  <!-- Backdrop -->
  @if (!isFullscreen) {
  <div class="fixed inset-0 h-full w-full bg-gray-400/60 backdrop-blur-[2px]" (click)="onBackdropClick($event)"></div>
  }
  <!-- Modal Content -->
  <div [ngClass]="isFullscreen ? 'w-full h-full' : 'relative w-full rounded-3xl bg-white dark:bg-gray-900'"
    [class]="className" (click)="onContentClick($event)">
    @if (showCloseButton) {
<button
  (click)="close.emit()"
  class="absolute right-3 top-3 z-50 flex h-10 w-10 items-center justify-center rounded-full
         bg-gray-100 text-gray-500 hover:bg-gray-200 hover:text-gray-700
         dark:bg-gray-800 dark:hover:bg-gray-700"
>
  <app-icon name="close" class="w-5 h-5"></app-icon>
</button>
}
    <div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
}