<div>
  <app-page-breadcrumb pageTitle="Proveedores" />
  <div class="rounded-2xl border border-gray-200 bg-white pt-4 dark:border-white/[0.05] dark:bg-white/[0.03]">
    <div class="flex flex-col gap-2 px-5 mb-4 sm:flex-row sm:items-center sm:justify-between sm:px-6">
      <div>
        <div class="flex flex-col gap-3 sm:flex-row sm:items-center">
          <form>
            <div class="relative">
              <button class="absolute -translate-y-1/2 left-4 top-1/2" type="button">
                <svg class="fill-gray-500 dark:fill-gray-400" width="20" height="20" viewBox="0 0 20 20" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.04199 9.37381C3.04199 5.87712 5.87735 3.04218 9.37533 3.04218C12.8733 3.04218 15.7087 5.87712 15.7087 9.37381C15.7087 12.8705 12.8733 15.7055 9.37533 15.7055C5.87735 15.7055 3.04199 12.8705 3.04199 9.37381ZM9.37533 1.54218C5.04926 1.54218 1.54199 5.04835 1.54199 9.37381C1.54199 13.6993 5.04926 17.2055 9.37533 17.2055C11.2676 17.2055 13.0032 16.5346 14.3572 15.4178L17.1773 18.2381C17.4702 18.531 17.945 18.5311 18.2379 18.2382C18.5308 17.9453 18.5309 17.4704 18.238 17.1775L15.4182 14.3575C16.5367 13.0035 17.2087 11.2671 17.2087 9.37381C17.2087 5.04835 13.7014 1.54218 9.37533 1.54218Z"
                    fill=""></path>
                </svg>
              </button>
              <input type="text" placeholder="Buscar..."
                class="dark:bg-dark-900 h-[42px] w-full rounded-lg border border-gray-300 bg-transparent py-2.5 pl-[42px] pr-4 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800 xl:w-[300px]" />
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-col gap-3 sm:flex-row sm:items-center">
        <form>
          <div class="relative">
            <div class="flex items-center gap-5">
              <app-button (click)="openCreateModal()" size="sm" variant="primary" [startIcon]="boxIcon">
                Nuevo
              </app-button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- TABLA --->
    <div class="overflow-hidden">
      <div class="max-w-full px-5 overflow-x-auto sm:px-6">
        <table class="min-w-full table-fixed">
          <thead class="border-gray-100 border-y dark:border-white/[0.05]">
            <tr>
              <th class="w-[15%] px-4 py-4 text-center font-semibold text-gray-600 text-theme-sm dark:text-gray-300">
                RUC</th>
              <th class="w-[35%] px-4 py-4 text-center font-semibold text-gray-600 text-theme-sm dark:text-gray-300">
                Razon Social</th>
              <th class="w-[45%] px-4 py-4 text-center font-semibold text-gray-600 text-theme-sm dark:text-gray-300">
                Dirección</th>
              <th class="w-[15%] px-4 py-4 text-center font-semibold text-gray-600 text-theme-sm dark:text-gray-300">
                Estado</th>
              <th class="w-[15%] px-4 py-4 text-center font-semibold text-gray-600 text-theme-sm dark:text-gray-300">
                Acciòn</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">
            @for (item of currentItems; track $index) {
            <tr class="hover:bg-gray-50 dark:hover:bg-white/[0.02] transition-colors">
              <td class="px-4 py-4 text-center align-middle">
                <span class="font-medium text-gray-700 text-theme-sm dark:text-gray-300">
                  {{ item.ruc }}
                </span>
              </td>
              <td class="px-4 py-4 text-center align-middle">
                <span class="font-medium text-gray-700 text-theme-sm dark:text-gray-300">
                  {{ item.razon_social }}
                </span>
              </td>
              <td class="px-4 py-4 text-center align-middle">
                <span class="font-medium text-gray-700 text-theme-sm dark:text-gray-300">
                  {{ item.direccion }}
                </span>
              </td>
              <td class="px-4 py-4 text-center align-middle">
                <div class="flex justify-center">
                  <app-badge size="sm" [color]="getBadgeColor(item.estado)">
                    {{ item.estado }}
                  </app-badge>
                </div>
              </td>
              <td class="px-4 py-4 text-center align-middle">
                <button (click)="openEditModal(item)" class="text-blue-500 hover:text-blue-700 transition">
                  <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                    class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z">
                    </path>
                  </svg>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <!-- Pagination Controls -->
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="currentPage = $event">>
    </app-pagination>
  </div>
</div>

<!-- Modal -->
<app-modal [isOpen]="isOpen" *ngIf="isOpen" (close)="closeModal()" className="w-full max-w-4xl p-4">
  <div appAutoFocusFirst
    class="no-scrollbar relative w-full max-w-4xl max-h-[90vh] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        Proveedores
      </h4>
      <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
        Ingresa o cambia los datos para tener la informacion actualizada.
      </p>
      <form class="flex flex-col flex-1 overflow-hidden" #form="ngForm" (ngSubmit)="handleSave(form)">
        <div class="space-y-5">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
            <div>
              <label class="mb-2 block text-sm font-medium">
                Tipo Documento
              </label>
              <select [(ngModel)]="selected.tipo_documento" name="tipo_documento" required #tipo_documento="ngModel"
                [ngClass]="{
                    'border-red-500 focus:border-red-500 focus:ring-red-500/20':
                      tipo_documento.invalid && (tipo_documento.touched || formSubmitted),

                    'border-gray-300 dark:border-gray-700':
                      !(tipo_documento.invalid && (tipo_documento.touched || formSubmitted))
                  }"
                class="h-11 w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 pr-11 text-sm shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800">
                <option value="" disabled>Seleccione una opción</option>
                @for (option of tipodocumentooptions; track $index) {
                <option [value]="option.value">
                  {{ option.label }}
                </option>
                }
              </select>
              @if (tipo_persona.invalid && (tipo_persona.touched || formSubmitted)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Numero
              </label>
              <app-input-field type="text" [(ngModel)]="selected.ruc" name="ruc" [required]="true" [minLength]="8"
                [maxLength]="11" [disabled]="modo === 'editar'" [submitted]="formSubmitted"></app-input-field>
            </div>
            <div>
              <label class="mb-2 block text-sm font-medium">
                Tipo Persona
              </label>
              <select [(ngModel)]="selected.tipo_persona" name="tipo_persona" required #tipo_persona="ngModel"
                [ngClass]="{
                    'border-red-500 focus:border-red-500 focus:ring-red-500/20':
                      tipo_persona.invalid && (tipo_persona.touched || formSubmitted),

                    'border-gray-300 dark:border-gray-700':
                      !(tipo_persona.invalid && (tipo_persona.touched || formSubmitted))
                  }"
                class="h-11 w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 pr-11 text-sm shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800">
                <option value="" disabled>Seleccione una opción</option>
                @for (option of tipopersonaoptions; track $index) {
                <option [value]="option.value">
                  {{ option.label }}
                </option>
                }
              </select>
              @if (tipo_persona.invalid && (tipo_persona.touched || formSubmitted)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
            <div>
              <label class="mb-2 block text-sm font-medium">
                Nombres
              </label>
              <app-input-field type="text" [(ngModel)]="selected.nombres" name="nombres"></app-input-field>
            </div>
            <div>
              <label class="mb-2 block text-sm font-medium">
                Apellido Paterno
              </label>
              <app-input-field type="text" [(ngModel)]="selected.apellido_paterno"
                name="apellido_paterno"></app-input-field>
            </div>
            <div>
              <label class="mb-2 block text-sm font-medium">
                Apellido Materno
              </label>
              <app-input-field type="text" [(ngModel)]="selected.apellido_materno"
                name="apellido_materno"></app-input-field>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
            <div class="md:col-span-4">
              <label class="mb-2 block text-sm font-medium">
                Nombre Comercial
              </label>
              <app-input-field [(ngModel)]="selected.nombre_comercial" name="nombre_comercial"></app-input-field>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
            <div class="md:col-span-4">
              <label class="mb-2 block text-sm font-medium">
                Razon Social
              </label>
              <app-input-field [(ngModel)]="selected.razon_social" name="razon_social" [submitted]="formSubmitted"
                [required]="true"></app-input-field>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
              <div class="md:col-span-4 w-full">
                <label class="mb-2 block text-sm font-medium">
                  Dirección
                </label>
                <app-input-field [(ngModel)]="selected.direccion" name="direccion"
                  [submitted]="formSubmitted"></app-input-field>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
            <div>
              <label class="mb-2 block text-sm font-medium">
                Nombre de Contacto
              </label>
              <app-input-field [(ngModel)]="selected.nombre_contacto" name="nombre_contacto"></app-input-field>
            </div>
            <div>
              <label class="mb-2 block text-sm font-medium">
                Telefono
              </label>
              <app-input-field [(ngModel)]="selected.telefono" name="telefono"></app-input-field>
            </div>
            <div>
              <label class="mb-2 block text-sm font-medium">
                Pais
              </label>
              <app-input-field [(ngModel)]="selected.pais" name="pais"></app-input-field>
            </div>
          </div>
          <!-- CHECKBOX -->
          <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
            <div>
              <label class="flex items-center gap-3">
                <span class="text-sm font-medium text-gray-700 dark:text-gray-300">
                  Activo
                </span>

                <div class="relative">
                  <input type="checkbox" class="peer sr-only" [(ngModel)]="selected.estado" name="estado" />
                  <div
                    class="h-6 w-11 rounded-full bg-gray-300 transition-colors peer-checked:bg-brand-500 dark:bg-gray-700">
                  </div>

                  <div
                    class="absolute left-0.5 top-0.5 h-5 w-5 rounded-full bg-white shadow-sm transition-transform peer-checked:translate-x-5">
                  </div>
                </div>
              </label>
            </div>
          </div>

          <!-- FOOTER -->
          <div class="mt-8 flex flex-col-reverse sm:flex-row sm:justify-between gap-3">
            <div>
              <button type="button" (click)="openCreateModal()"
                class="inline-flex items-center gap-2 rounded-lg bg-blue-600 px-5 py-2 text-white hover:bg-blue-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="h-5 w-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span>Nuevo</span>
              </button>
            </div>
            <div class="flex gap-3 justify-end">
              <button type="button" (click)="closeModal()"
                class="inline-flex items-center gap-2 rounded-lg border px-5 py-2 hover:bg-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg>
                <span>Cerrar </span>
              </button>
              <button type="submit"
                class="inline-flex items-center gap-2 rounded-lg bg-blue-600 px-5 py-2 text-white hover:bg-blue-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                </svg>
                <span>Guardar</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-modal>