<app-crud-table [columns]="tableColumns" [title]="'Tipo de Cambio'" [showSearch]="false" [data]="filteredItems()"
  (search)="setSearch($event)" (create)="openCreate()" (edit)="openEdit($event)">

  <div table-filters class="flex gap-2">
    <app-select-field [options]="mesOptions" [(ngModel)]="mesSeleccionado" (ngModelChange)="onMesChange($event)" name="mes">
    </app-select-field>

    <app-select-field [options]="anioOptions" [(ngModel)]="anioSeleccionado" (ngModelChange)="onAnioChange($event)" name="anio">
    </app-select-field>
  </div>

</app-crud-table>
<app-tipocambio-form-modal [state]="state()" [submitted]="submitted()" (create)="openCreate()" (save)="save($event)"
  (close)="closeModal()">
</app-tipocambio-form-modal>