<app-crud-table [columns]="tableColumns" [data]="filteredItems()" (search)="setSearch($event)" (create)="openCreate()"
  (edit)="openEdit($event)">
</app-crud-table>

<!-- Modal -->
<app-modal [isOpen]="state().isOpen" (close)="closeModal()" className="w-full max-w-4xl p-4">
  <div appAutoFocusFirst
    class="no-scrollbar relative w-full max-w-4xl max-h-[90vh] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        Concepto de venta
      </h4>
      <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
        Ingresa o cambia los datos para tener la informacion actualizada.
      </p>
      <form class="flex flex-col flex-1 overflow-hidden" #form="ngForm" (ngSubmit)="save(form)">
        <div class="space-y-5">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Código
              </label>
              <app-input-field [ngModel]="state().selected.codigo ?? ''" (ngModelChange)="updateField('codigo', $event)"
                name="codigo" [disabled]="state().modo === 'editar'" [submitted]="submitted()" [required]="true"
                pattern="^[0-9]*$" [minLength]="2" [maxLength]="4" [onlyNumbers]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Descripción
              </label>
              <app-input-field [ngModel]="state().selected.descripcion ?? ''"
                (ngModelChange)="updateField('descripcion', $event)" name="descripcion" [submitted]="submitted()"
                [required]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Comprobante
              </label>

              <app-select-field [ngModel]="state().selected.comprobante ?? ''"
                (ngModelChange)="updateField('comprobante', $event)" name="comprobante" required #comprobante="ngModel"
                            [ngClass]="{
                  'border-red-500 focus:border-red-500 focus:ring-red-500/20':
                    comprobante.invalid &&
                    (comprobante.touched || submitted()),

                  'border-gray-300 dark:border-gray-700':
                    !(comprobante.invalid &&
                    (comprobante.touched || submitted()))
                }" class="h-11 w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 pr-11 text-sm shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800">

                <option value="" disabled>
                  Seleccione una opción
                </option>

                @for (option of comprobanteoptions; track $index) {
                <option [value]="option.value">
                  {{ option.label }}
                </option>
                }

              </app-select-field>

              @if (
              comprobante.invalid &&
              (comprobante.touched || submitted())
              ) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }

            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Tipo de Factura
              </label>
              <select [(ngModel)]="selected.tipo_factura" name="tipo_factura" required #tipo_factura="ngModel"
                [ngClass]="{
                    'border-red-500 focus:border-red-500 focus:ring-red-500/20':
                      tipo_factura.invalid && (tipo_factura.touched || formSubmitted),

                    'border-gray-300 dark:border-gray-700':
                      !(tipo_factura.invalid && (tipo_factura.touched || formSubmitted))
                  }"
                class="h-11 w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 pr-11 text-sm shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800">
                <option value="" disabled>Seleccione una opción</option>
                @for (option of tipo_facturaoptions; track $index) {
                <option [value]="option.value">
                  {{ option.label }}
                </option>
                }
              </select>
              @if (tipo_factura.invalid && (tipo_factura.touched || formSubmitted)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Tipo de Operacion
              </label>
              <select [(ngModel)]="selected.tipo_operacion" name="tipo_operacion" required #tipo_operacion="ngModel"
                [ngClass]="{
                    'border-red-500 focus:border-red-500 focus:ring-red-500/20':
                      tipo_operacion.invalid && (tipo_operacion.touched || formSubmitted),

                    'border-gray-300 dark:border-gray-700':
                      !(tipo_operacion.invalid && (tipo_operacion.touched || formSubmitted))
                  }"
                class="h-11 w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 pr-11 text-sm shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800">
                <option value="" disabled>Seleccione una opción</option>
                @for (option of tipo_operacionoptions; track $index) {
                <option [value]="option.value">
                  {{ option.label }}
                </option>
                }
              </select>
              @if (tipo_operacion.invalid && (tipo_operacion.touched || formSubmitted)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Tipo de Afectación
              </label>
              <select [(ngModel)]="selected.tipo_afectacion" name="tipo_afectacion" required #tipo_afectacion="ngModel"
                [ngClass]="{
                    'border-red-500 focus:border-red-500 focus:ring-red-500/20':
                      tipo_afectacion.invalid && (tipo_afectacion.touched || formSubmitted),

                    'border-gray-300 dark:border-gray-700':
                      !(tipo_afectacion.invalid && (tipo_afectacion.touched || formSubmitted))
                  }"
                class="h-11 w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 pr-11 text-sm shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800">
                <option value="" disabled>Seleccione una opción</option>
                @for (option of tipo_afectacionoptions; track $index) {
                <option [value]="option.value">
                  {{ option.label }}
                </option>
                }
              </select>
              @if (tipo_afectacion.invalid && (tipo_afectacion.touched || formSubmitted)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Tipo de Nota de Crédito
              </label>
              <select [(ngModel)]="selected.tipo_nc" name="tipo_nc" required #tipo_nc="ngModel" [ngClass]="{
                    'border-red-500 focus:border-red-500 focus:ring-red-500/20':
                      tipo_nc.invalid && (tipo_nc.touched || formSubmitted),

                    'border-gray-300 dark:border-gray-700':
                      !(tipo_nc.invalid && (tipo_nc.touched || formSubmitted))
                  }"
                class="h-11 w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 pr-11 text-sm shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3 focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800">
                <option value="" disabled>Seleccione una opción</option>
                @for (option of tipo_ncoptions; track $index) {
                <option [value]="option.value">
                  {{ option.label }}
                </option>
                }
              </select>
              @if (tipo_nc.invalid && (tipo_nc.touched || formSubmitted)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
          </div>
        </div>

        <!-- FOOTER -->
        <app-modal-footer [showNewButton]="true" closeText="Cerrar" saveText="Guardar" (close)="closeModal()"
          (create)="openCreate()">
        </app-modal-footer>
      </form>
    </div>
  </div>
</app-modal>