<app-crud-table [columns]="tableColumns" [title]="'Concepto de Venta'" [data]="filteredItems()" (search)="setSearch($event)" (create)="openCreate()"
  (edit)="openEdit($event)">
</app-crud-table>

<!-- Modal -->
<app-modal [isOpen]="state().isOpen" (close)="closeModal()" className="w-full max-w-4xl p-4">
  <div appAutoFocusFirst
    class="no-scrollbar relative w-full max-w-4xl max-h-[90vh] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        Concepto de venta
      </h4>
      <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
        Ingresa o cambia los datos para tener la informacion actualizada.
      </p>
      <form class="flex flex-col flex-1 overflow-hidden" #form="ngForm" (ngSubmit)="save(form)">
        <div class="space-y-5">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
            <div class="md:col-span-1">
              <label class="mb-2 block text-sm font-medium">
                Código
              </label>
              <app-input-field [ngModel]="state().selected.codigo ?? ''" (ngModelChange)="updateField('codigo', $event)"
                name="codigo" [disabled]="state().modo === 'editar'" [submitted]="submitted()" [required]="true"
                pattern="^[0-9]*$" [minLength]="2" [maxLength]="4" [onlyNumbers]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Descripción
              </label>
              <app-input-field [ngModel]="state().selected.descripcion ?? ''"
                (ngModelChange)="updateField('descripcion', $event)" name="descripcion" [submitted]="submitted()"
                [required]="true">
              </app-input-field>
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Comprobante
              </label>
              <app-select-field [options]="comprobanteOptions" [ngModel]="state().selected.comprobante ?? ''"
                (ngModelChange)="updateField('comprobante', $event)" name="comprobante" [required]="true"
                #comprobante="ngModel" [customClass]="comprobante.invalid && (comprobante.touched || submitted())
                 ? 'border-red-500' : 'border-gray-300 dark:border-gray-700'">
              </app-select-field>
              @if (showError(comprobante)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Tipo de Factura
              </label>
              <app-select-field [options]="tipoFacturaOptions" [ngModel]="state().selected.tipo_factura ?? ''"
                (ngModelChange)="updateField('tipo_factura', $event)" name="tipo_factura" [required]="true"
                #tipo_factura="ngModel" [customClass]="tipo_factura.invalid && (tipo_factura.touched || submitted())
                 ? 'border-red-500' : 'border-gray-300 dark:border-gray-700'">
              </app-select-field>
              @if (showError(tipo_factura)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }

            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Tipo de Operacion
              </label>
              <app-select-field [options]="tipoOperacionOptions" [ngModel]="state().selected.tipo_operacion ?? ''"
                (ngModelChange)="updateField('tipo_operacion', $event)" name="tipo_operacion" [required]="true"
                #tipo_operacion="ngModel" [customClass]="tipo_operacion.invalid && (tipo_operacion.touched || submitted())
                 ? 'border-red-500' : 'border-gray-300 dark:border-gray-700'">
              </app-select-field>
              @if (showError(tipo_operacion)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Tipo de Afectación
              </label>
              <app-select-field [options]="tipoAfectacionOptions" [ngModel]="state().selected.tipo_afectacion ?? ''"
                (ngModelChange)="updateField('tipo_afectacion', $event)" name="tipo_afectacion" [required]="true"
                #tipo_afectacion="ngModel" [customClass]="tipo_afectacion.invalid && (tipo_afectacion.touched || submitted())
                 ? 'border-red-500' : 'border-gray-300 dark:border-gray-700'">
              </app-select-field>
              @if (showError(tipo_afectacion)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
            <div class="md:col-span-3">
              <label class="mb-2 block text-sm font-medium">
                Tipo de Nota de Crédito
              </label>
              <app-select-field [options]="tiponcOptions" [ngModel]="state().selected.tipo_nc ?? ''"
                (ngModelChange)="updateField('tipo_nc', $event)" name="tipo_nc" [required]="true"
                #tipo_nc="ngModel" [customClass]="tipo_nc.invalid && (tipo_nc.touched || submitted())
                 ? 'border-red-500' : 'border-gray-300 dark:border-gray-700'">
              </app-select-field>
              @if (showError(tipo_nc)) {
              <p class="mt-1 text-xs text-red-500">
                Este campo es obligatorio
              </p>
              }
            </div>
          </div>
        </div>

        <!-- FOOTER -->
        <app-modal-footer [showNewButton]="true" closeText="Cerrar" saveText="Guardar" (close)="closeModal()"
          (create)="openCreate()">
        </app-modal-footer>
      </form>
    </div>
  </div>
</app-modal>